<h1>The Times</h1>

<div style="text-align:center" class="middle_save">
    <button onclick="savedArticles()" class="btn btn-primary submit" onmouseover="" style="cursor: pointer;">Saved
        articles</button>
    <button onclick="scrapeArticles()" class="btn btn-primary submit" onmouseover="" style="cursor: pointer;">Scrape
        new articles</button>
    <button onclick="clearArticles()" class="btn btn-primary submit" onmouseover="" style="cursor: pointer;">Clear
        articles</button>
</div>

{{#each aoNews}}
<br>
<h3>{{heading}}</h3>
<p>{{story}}</p>
{{#if notSaved}}
<button onclick="saveArticleButton({{@index}})" class="saveArticleButton" id={{this}} onmouseover="" style="cursor: pointer;">Save</button>
{{/if}}
<div class="noDisplay" id="note{{@index}}">{{note}}</div>
<button class="middle" onclick="takeNote({{@index}})" id="takeNote" onmouseover="" style="cursor: pointer;">{{#if
    note}}Edit note{{else}}Add a note{{/if}}</button>
<a class="right" href={{link}} text="Read more">Read More</a>
<br>
{{/each}}

<footer class="footer-classic fixed-bottom text-center bg-light">
    <div class="panel panel-default">
        <div class="panel-heading">&nbsp</div>
        <div class="panel-body">Material taken from The Times</div>
    </div>
</footer>

<!-- The Modal -->
<div id="noteModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <textarea autofocus id="theNote" placeholder="Your note here." rows="4" cols="50"></textarea>
        <span class="right" onclick="closeModal()" onmouseover="" style="cursor: pointer;">&times;</span>
        <button onclick="submitNote()" id="submitNote" onmouseover="" style="cursor: pointer;">Submit</button>
    </div>

</div>